@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-size: 100%;
}

.text-with-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.active-icon {
    filter: invert(40%) sepia(80%) saturate(200%) hue-rotate(180deg);
}

.toast-error-bg{
    background: rgb(242,191,189);
background: linear-gradient(90deg, rgba(242,191,189,1) 0%, rgba(255,255,255,1) 25%, rgba(252,252,252,1) 100%);
}

.toast-success-bg{
    background: rgb(242,191,189);
    background: linear-gradient(90deg, #c2e7d3 0%, rgba(255,255,255,1) 25%, rgba(252,252,252,1) 100%);
}


.main-body{
    padding-left: clamp(20px,3.13vw,60px);
    padding-right:  clamp(20px,3.13vw,60px);
}

.no-scroll{
    overflow: hidden;
}

input[type="date"]::-webkit-input-placeholder {
    color: #9C9AA5!important;
  }
  
  input[type="date"]:-ms-input-placeholder {
    color: #9C9AA5!important;
  }
  
  .element::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
  input[type="date"]::-ms-input-placeholder {
    color: #9C9AA5!important;
  }

#progress {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
  }

.nav-body{
    height: clamp(50px, 10vh, 70px);
    padding-left: clamp(30px,3.13vw,60px);
    padding-right:  clamp(30px,3.13vw,60px);
}

.nav-profile-body{
    width: clamp(40px,2.761vw,44px);
    height: clamp(40px,2.761vw,44px);
}
.nav-profile-name{
    font-size: clamp(12px,1.2vw,14px);
}

.nav-logo-body{
    width: clamp(45px,2.761vw,53px);
}

.nav-search-body{
    width: clamp(200px, 25vw, 499px);
}

